html {
	background-color: $border_color;
	padding: 20px;
}

body {
  margin: 0px;
  font-family: $body_font_stack;
  font-size: 15px;
  line-height: 21px;
  color: $text_color; 
	background-color: white;
	padding: 30px 70px;
	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizeLegibility;
	min-height: 1000px;
}

a {
  font-weight: normal;
  color: $link_color;
  text-decoration: none;
  border: none; 

  &:visited { color: $link_color; }
  &:hover { text-decoration: underline; }
  & img { border: none; }
}

p, article ul li {
  font-family: $body_font_stack;
  color: $text_color; 
	line-height: 1.5em;
}

ol, ul { margin: 0 0 0 20px; padding: 0; }
ol li, ul li { margin: 5px 0; padding: 0; }

blockquote {
	padding: 5px 10px 10px 10px;
	margin-left: 10px;
	border-left: solid 3px #ccc;
	font-style: normal;
}

code {
	font-family: Consolata, monospace;
	background: #f8f8f8;
	white-space: pre;
	display: block;
	padding: 10px 20px;
	border: solid 1px #ccc;
	font-size: 13px;
}

q {
	display: block;
	margin: 3px 0 10px 5px;
	font-style: italic;
	color: #666;
	font-size: 12px;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: $headline_color;
	line-height: 1.25em;
  font-family: $head_font_stack;
  font-weight: normal;

	a {
		color: inherit !important;
		font-weight: inherit;
	}
}

h1 {
	font-size: 38px;
	letter-spacing: -1px;
}

h2 {
	margin: 1.5em 0 0.5em 0;
}

h4 {
  text-transform: uppercase;
	color: #555;
  font-size: 13px;
  font-weight: 500; 
}


/* Useful! */
.clear { clear: both; }
